<article class="post" itemscope itemType="http://schema.org/BlogPosting">
    <% if (post.coverCaption) { %>
        <span class="post-header-cover-caption caption"><%= post.coverCaption %></span>
    <% } %>
    <% if (!post.coverImage || post.coverMeta === 'out') { %>
        <%- partial('post/header')%>
    <% } %>
    <div class="main-content-wrap" style="margin-top: 60px;">索引</div>
    <%- toc(page.content, {
        class: 'main-content-wrap toc-article',
        list_number: false
    }) %>
    <div class="post-content markdown" itemprop="articleBody">
        <div class="main-content-wrap">
            <%- post.content %>
            <% if (theme.image_gallery) { %>
                <%- partial('post/gallery', {photos: post.photos})%>
            <% } %>
        </div>
    </div>
    <div class="post-footer main-content-wrap">
        <% if ((post.tags) && (post.tags.length > 0)) { %>
            <div class="post-footer-tags">
                <span class="text-color-light text-small"><%= __('post.tagged_in') %></span><br/>
                <%- partial('post/tag', {tags: post.tags})%>
            </div>
        <% } %>
        <%- partial('post/actions') %>
        <% if (post.comments && theme.disqus_shortname) { %>
            <%- partial('post/disqus') %>
        <% } %>
    </div>
</article>

